.header {
    display: flex;
    justify-content: center;
    font-size: larger;
    margin: 15px;
    font-family: "Gilroy", 'Times New Roman', Times, serif;
    width: 100%;
    height: 4vh;
    border-bottom: 2px solid #E5E5E5;
    color: gray;
}

.main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1.5%;
}


.main__button {
    margin-left: 70%;
    background-color: #5222D0;
    color: white;
    font-family: "Gilroy", 'Times New Roman', Times, serif;
    border-radius: 20px;
    width: 9%;
}

.main__title {
    font-family: "Gilroy", 'Times New Roman', Times, serif;
    font-size: xx-large;
    margin-left: 7%;
}

.main__title_smaller {
    font-size: smaller;
    font-weight: lighter;
    margin-left: 10px;
}

.main__picture {
    width: 50%;
    height: 5vh;
}

.main__button__logo {
    margin-left: 10px;
    width: 14%;
    height: 55%;
}

.main__button_changed {
    margin: auto;
    padding: 10px;
    width: 50%;
    height: 15%;
    border-radius: 40px;
}

.main__contacts {
    margin-top: 6%;
    margin-left: 7%;
    margin-right: 2%;
    word-spacing: 3px;
    color: #5222D0;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}